html,
body {
    height: 100%;
    margin: 0;
    padding: 0 0 3em 0;
    background-color: #fbfbfb;
    font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif !important;
}

#index {
    overflow: hidden;
}

header {
    padding: 1em 0;
}

#title {
    font-family: 'Lobster', cursive;
    margin: 0 auto 0.2em;
    text-align: center;
    font-size: 5em;
    z-index: 100;
}

#title a {
    text-decoration: none;
    color: #88b653;
}

nav {
    background-color: transparent !important;
    font-size: 1em !important;
    width: 80%;
    margin: 0 auto !important;
}

nav .item {
    color: #777777 !important;
    font-size: 1.1em !important;
}

#search-home {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -245px;
    border: 1px solid #88b653;
    border-radius: 0.5em;
}

section {
    padding:1em 0;
    background-color: transparent !important;
}

section .overview {
    background-color: transparent !important;
    width: 85%;
    margin: 0 auto !important;
}

#vegetarianButton {
    padding-right: 20px;
}

#veganButton {
    padding-left: 20px;
}

table i{
    float:right;
}

table a{
    display:block;
    color: inherit;
    text-decoration: inherit;
}

#search-home input {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 0.5em #88b653 solid !important;
    font-weight: bold;
}

#search-home input:hover,
#search-nav input:hover {
    box-shadow: 0 0 5px 5px rgba(136, 182, 83, 0.55);
}

#button-select,
#button-deselect {
    width: 161px;
    text-align: center;
    margin: 0 auto 0.7em auto;
    font-size: 0.8em;
}

.checkbox:hover {
    cursor: pointer;
    background-color: #d8d8d8 !important;
}

.checkbox label,
.checkbox input {
    pointer-events: none;
}


.result {
    width: 30%;
    height: 250px;
    margin: 1.5%;
    background-color: #88b653;
    float: left;
    border-radius: 0.5em;
    border: 1px solid #909090;
    color: #fbfbfb;
}

.result:hover {
    cursor: pointer;
}

.result-img,
.food-img {
    width: 100%;
    height: 60%;
    background-size: cover;
    border-radius: 0.5em 0.5em 0 0;
    background-position: center;
    background-repeat: no-repeat;
}

.result-info {
    text-align: center;
    margin: 0 auto;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.result-info .label {
    font-size: 0.7em !important;
}

.result-title {
    text-align: center;
    margin: 4% 0;
}

.ui.label.red {
    text-decoration: line-through;
}

#food-display {
    border: 1px #909090 solid;
    border-radius: 0.5em;
}

.food-img {
    height: 200px;
}

.food-title {
    float: left;
    width: 100%;
}

input {
    font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif !important;
}

.table-vegetables-cell {
    background-color: white;
}
