html,
body {
    background-color: #fbfbfb;
    font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif !important;
    height: 100%;
    margin: 0;
    min-height: 500px !important;
    min-width: 669px !important;
    padding: 0;
}

.ui-autocomplete {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3125em;
    background: #FFFFFF;
    cursor: default;
    overflow: auto;
    width: 240px;
}

ul.ui-autocomplete{
    list-style: none;
    font-size: 1em;
    text-align: left !important;
}

ul.ui-autocomplete li.ui-menu-item{text-align:left;}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-state-focus {
    color:White;
    background:#88b653;
    outline:none;
    display: block;
}

header {
    padding: 1em 0;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    margin: 0 auto 0.2em;
    text-align: center;
    z-index: 100;
}

#title a {
    color: #88b653;
    text-decoration: none;
}

nav {
    background-color: transparent !important;
    font-size: 1em !important;
    margin: 0 auto !important;
    width: 80%;
}

nav .item {
    color: #777777 !important;
    font-size: 1.1em !important;
}

#search-home {
    border-radius: 0.5em;
    border: 1px solid #88b653;
    font-size: 2em;
    margin: 3em auto;
    text-align: center;
}

section {
    background-color: transparent !important;
    padding:1em 0;
}

section .overview {
    background-color: transparent !important;
    margin: 0 auto !important;
    width: 85%;
}

#vegetarianButton {
    padding-right: 20px;
}

#veganButton {
    padding-left: 20px;
}

table i {
    float:right;
}

table a {
    color: inherit;
    display:block;
    text-decoration: inherit;
}

#search-home input {
    background-color: transparent !important;
    border-bottom: 0.5em #88b653 solid !important;
    border: none !important;
    font-weight: bold;
}

#search-home input:hover,
#search-nav input:hover {
    box-shadow: 0 0 5px 5px rgba(136, 182, 83, 0.55);
}

#button-select,
#button-deselect {
    font-size: 0.8em;
    margin: 0 auto 0.7em auto;
    text-align: center;
    width: 161px;
}

.checkbox:hover {
    background-color: #d8d8d8 !important;
    cursor: pointer;
}

.checkbox label,
.checkbox input {
    pointer-events: none;
}


.result {
    background-color: #88b653;
    border-radius: 0.5em;
    border: 1px solid #909090;
    color: #fbfbfb;
    float: left;
    height: 250px;
    margin: 1.5%;
    width: 29%;
}

.result:hover {
    cursor: pointer;
}

.result-img,
.food-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5em 0.5em 0 0;
    height: 60%;
    width: 100%;
}

.result-info {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -webkit-user-select: none; /* Chrome/Safari */
    margin: 0 auto;
    text-align: center;
}

.result-info .label {
    font-size: 0.7em !important;
}

.result-title {
    margin: 4% 0;
    text-align: center;
}

.ui.label.red {
    text-decoration: line-through;
}

#food-display {
    border-radius: 0.5em;
    border: 1px #909090 solid;
}

.food-img {
    height: 200px;
}

.food-title {
    float: left;
    width: 100%;
}

input {
    font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif !important;
}

.table-vegetables-cell {
    background-color: white;
}

.header.item.checkbox {
    display: block;
}

.nutrition-table > tbody > tr > td:last-child{
    min-width: 164px !important;
}


/************************
**
** Responsive Styling
**
************************/
@media only screen and (min-width: 788px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 907px) {
    .result {
        width: 45%;
    }

    .filter-icon {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 805px) {
    .menu.right {
        width: 40%;
    }

}

@media only screen and (min-width: 656px) and (max-width: 767px) {
    /* phones */
    .menu.right {
        width: 40%;
    }

    .result {
        width: 45% !important;
    }

    nav {
        width: 95%;
    }
}

@media only screen and (max-width: 655px) {
    .result {
        width: 45% !important;
    }

    #search-home {
        margin-top: 1em;
    }

    nav {
        width: 95%;
    }

    .menu.right {
        width: 39%;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
