<!-- ------------------------------------ INGREDIENTS ------------------------------------ -->
<div class="ui transition hidden ingredients">
    <h2 class="ui header">Pantry Essentials</h2>
    <div class="ui basic segment">
        <p>Here are some basics you should always have stocked:</p>


        <table class="ui celled table segment">
            <thead>
                <th>Food Group</th>
                <th colspan="2">Ingredients</th>
            </thead>
            <tbody>
                <tr>
                    <!-- ----------------------- GRAINS ----------------------- -->
                    <td rowspan="3" class>Grains</td>
                    <td>
                        <a href="/browse/">
                            Brown Rice
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/browse/">
                            Cornmeal
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/browse/">
                            Quinoa
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/browse/">
                            Amaranth
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/browse/">
                            Bulgur Wheat
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/browse/">
                            Teff
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <!-- ----------------------- FRUITS ----------------------- -->
                <tr>
                    <td rowspan="2">Fruits</td>
                    <td>
                        <a href="/browse/">
                            Apples
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/browse/">
                            Pears
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/browse/">
                            Bananas
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/browse/">
                            Melons
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <!-- ----------------------- Vegetables ----------------------- -->
                <tr>
                    <td rowspan="3" class="table-vegetables-cell">Vegetables</td>
                    <td>
                        <a href="/browse/">
                            Potatoes
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/browse/">
                            Broccoli
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/browse/">
                            Carrots
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/browse/">
                            Peppers
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/browse/">
                            Squash
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/browse/">
                            Kale
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>