<!-- ------------------------------------ MEALS ------------------------------------ -->
<div class="ui transition hidden meals three column grid">
    <div class="column">
        <h1 class="ui header">Breakfast</h1>
        <h3 class="ui header">Peanut Butter Bagel</h3>
        <img class="rounded ui image" src="/vsafe/img/peanutbutterbagel.jpg" width="auto"/>
        <div class="ui segment">
            <p>
                A toasted bagel topped with peanut butter and sliced bananas.
            </p>
        </div>
    </div>
    <div class="column">
        <h1 class="ui header">Lunch</h1>
        <h3 class="ui header">Lentil Soup</h3>
        <img class="rounded ui image" src="/vsafe/img/lentilsoup.jpg" width="auto"/>
        <div class="ui segment">
            <p>
                Lentil soup with vegetables. Possible side dishes include mixed fruit or rosemary potato wedges.
            </p>
        </div>
    </div>
    <div class="column">
        <h1 class="ui header">Dinner</h1>
        <h3 class="ui header">Quinoa Pilaf</h3>
        <img class="rounded ui image" src="/vsafe/img/quinoapilaf.jpg" width="auto"/>
        <div class="ui segment">
            <p>
                Quinoa mixed with diced vegetables, seasoned to taste.
            </p>
        </div>
    </div>
</div>