<!-- ------------------------------------ SUMMARY ------------------------------------ -->
<div  class="ui transition hidden summary">
    <h2 class="ui header">Overview</h2>
    <div class="ui segment">
        <p>
            Veganism refers to a diet devoid of meat, animal products, eggs, and dairy. Some animal-based ingredients such as beeswax, honey, or gelatin might be used in foods where you wouldn't necessarily expect them. Consequently, it is always important to check the label before purchasing any food item in order to ensure it does not contain any ingredient you are trying to avoid.
        </p>
        <p>
            Switching to veganism may seem daunting, but there are a few simple steps to make the transition easier. If you're not sure you can go cold turkey
            on meat (no pun intended), you can start by eliminating red meat and gradually phase out other meats and dairy from there. Alternatively, it may be easier for you to start by eliminating eggs from your diet, then milk, then beef, an so on. Much of what you're eating on a day-to-day basis may be vegan already -- many pasta dishes and salads are meatless and dairy-less, and serveral common snack foods such as dried fruit, granola bars, almonds, and chips meet the criteria as well. You can also search for vegan restuarants in your area, and suggest one next time you go out to eat with friends. Who knows, they may even be convinced to join you in your quest to revamp your diet!
        </p>

    </div>

    <h2 class="ui header">Motivations</h2>
    <div class="ui segment">
        <p>
            There are a variety of good reasons to switch to a vegan diet. Some of the most common ones include:
        </p>
        <ul class="ui list">
            <p><li><strong>Ethical</strong></li>
                By being vegan, you are not contributing to the slaughter of animals for food. Billions of animals are killed each year to feed the world's population.
            </p>
            <p>
                <li><strong>Practical</strong></li>
                Veganism is associated with many health benefits, including lower cholesterol, lower Body Mass Index (BMI), and lower risk
                of heart attack. On average, vegans consume less saturated fat and cholesterol than meat eaters.
            </p>
            <p>
                <li><strong>Environmental</strong></li>
                Raising animals for food is particularly taxing on the environment. The livestock industry contributes significantly to air and water pollution, land degradation, and climate change.
            </p>
        </ul>
    </div>

    <h2 class="ui header">Resources</h2>
    <div class="ui segment">
        <a href="http://features.peta.org/how-to-go-vegan/" title="What to buy, what to make, and where to eat as a vegan">How to Go Vegan</a><br>
        <a href="http://vegan.org/eat/" title="Meal ideas and staple items in a vegan diet">Eating Vegan</a><br>
        <a href="http://www.vrg.org/nutshell/vegan.htm" title="General information on veganism, vegan nutrition, and vegan foods">Vegetarian Resource Group: Veganism in a Nutshell</a>
    </div>
</div>