<!-- ------------------------------------ INGREDIENTS ------------------------------------ -->
<div class="ui transition hidden ingredients">
    <h2 class="ui header">Pantry Essentials</h2>
    <div class="ui basic segment">
        <p>Here are some basics you should always have stocked:</p>


        <table class="ui celled table segment">
            <thead>
                <th>Food Group</th>
                <th colspan="2">Ingredients</th>
            </thead>
            <tbody>
                <tr>
                    <!-- ----------------------- GRAINS ----------------------- -->
                    <td rowspan="3" class>Grains</td>
                    <td>
                        <a href="/vsafe/browse/ingredient/39">
                            Brown Rice
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/vsafe/browse/ingredient/37">
                            Cornmeal
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/vsafe/browse/ingredient/16">
                            Quinoa
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/vsafe/browse/ingredient/38">
                            Amaranth
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/vsafe/browse/ingredient/36">
                            Bulgur Wheat
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/vsafe/browse/ingredient/40">
                            Teff
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <!-- ----------------------- FRUITS ----------------------- -->
                <tr>
                    <td rowspan="2">Fruits</td>
                    <td>
                        <a href="/vsafe/browse/ingredient/1">
                            Apples
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/vsafe/browse/ingredient/41">
                            Pears
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/vsafe/browse/ingredient/29">
                            Bananas
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/vsafe/browse/ingredient/42">
                            Melons
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <!-- ----------------------- VEGETABLES ----------------------- -->
                <tr>
                    <td rowspan="3" class="table-vegetables-cell">Vegetables</td>
                    <td>
                        <a href="/vsafe/browse/ingredient/28">
                            Potatoes
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/vsafe/browse/ingredient/35">
                            Broccoli
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/vsafe/browse/ingredient/32">
                            Carrots
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/vsafe/browse/ingredient/9">
                            Peppers
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/vsafe/browse/ingredient/33">
                            Squash
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/vsafe/browse/ingredient/34">
                            Kale
                            <i class="right arrow icon"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>