<!-- ------------------------------------ MEALS ------------------------------------ -->
<div class="ui transition hidden meals three column grid">
    <div class="column">
        <h1 class="ui header">Breakfast</h1>

        <img class="rounded ui image" src="/vsafe/img/eggstoastgrapefruit.jpg" width="auto"/>
        <h3 class="ui header">Hard-boiled Eggs with Toast and Grapefruit</h3>
        <div class="ui segment">
            <p>
                Toasted wheat bread served with sliced hard-boiled eggs, a good source of protein. Coupled with
                grapefruit slices.
            </p>
        </div>
    </div>

    <div class="column">
        <h1 class="ui header">Lunch</h1>

        <img class="rounded ui image" src="/vsafe/img/hummuswrap.jpg" width="auto"/>
        <h3 class="ui header">Hummus Wrap</h3>
        <div class="ui segment">
            <p>
                Lettuce, tomatoes, onions, and hummus in a pita wrap. Served with apple slices on the side.
            </p>
        </div>
    </div>
    <div class="column">
        <h1 class="ui header">Dinner</h1>

        <img class="rounded ui image" src="/vsafe/img/tofustirfry.jpg" width="auto"/>
        <h3 class="ui header">Tofu Stir Fry</h3>
        <div class="ui segment">
            <p>
                Tofu tossed with vegetables. Seasoned with spices and hoisin sauce.
            </p>
        </div>
    </div>
</div>