<!-- ------------------------------------ NUTRIENTS ------------------------------------ -->
<div class="ui transition hidden nutrients">
    <h1 class="ui header">Daily Nutrition</h1>

    <div class="ui segment" id="vgtnNutrientsPara">
        <p>
            When eating a strictly vegetarian diet, it is important to be conscious of the nutrients you would normally get from meat and incorporate them into your diet through other foods. One of these is <u>protein</u>. To reach your daily quota of protein, you can replace meat-based entrees with beans, tofu, quinoa, seitan, eggs, or tempeh, to name a few. Additionally, to avoid a <u>vitamin B12</u> deficiency, you should try to consume some soy, eggs, and dairy on a regular basis, or take a vitamin B supplement. B vitamins are important in the body's absorption of <u>iron</u>, another nutrient that meat is rich in. Luckily, iron can also be found in dark, leafy greens, legumes, and dried fruits, such as prunes, so you can still get plenty of it while maintaining a vegetarian diet.

        </p>
    </div>

    <table class="ui celled table segment">
        <thead>
            <th>Nutrient</th>
            <th>Purpose</th>
            <th>Sources</th>
        </thead>
        <tbody>
            <tr>
                <td rowspan="5">
                    Protein
                </td>
                <td rowspan="5">
                    <ul class="ui list">
                        <li>
                            Builds bone, skin, and cartilage
                        </li>
                        <li>
                            Vitamins, enzymes, hormones
                        </li>
                    </ul>
                </td>
                <td>
                    <a href="/vsafe/browse/ingredient/7">
                        Eggs
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/vsafe/browse/ingredient/47">
                        Beans
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/vsafe/browse/ingredient/19">
                        Tofu
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/vsafe/browse/ingredient/43">
                        Tempeh
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/vsafe/browse/ingredient/44">
                        Nuts & Seeds
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td rowspan="5">
                    Iron
                </td>
                <td rowspan="5">
                    <ul class="ui list">
                        <li>
                            Carries oxygen in blood
                        </li>
                        <li>
                            Prevents anemia
                        </li>
                        <li>
                            Important for women
                        </li>
                    </ul>
                </td>
                <td>
                    <a href="/vsafe/browse/ingredient/45">
                        Spinach
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/vsafe/browse/ingredient/19">
                        Tofu
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/vsafe/browse/ingredient/46">
                        Enriched Cereal
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/vsafe/browse/ingredient/35">
                        Broccoli
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/vsafe/browse/ingredient/28">
                        Potatoes
                        <i class="right arrow icon"></i>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>