<!-- ------------------------------------ SUMMARY ------------------------------------ -->
<div  class="ui transition visible summary">
    <h2 class="ui header">Overview</h2>
    <div class="ui segment">
        <p>
            Vegetarianism refers to a diet devoid of meat, including red meat, poultry, seafood, or the flesh of any other animal. Some vegetarians may also
            choose to avoid all animal by-products, including some oils and gelatins, which are sometimes used in candies, yogurts, or fried foods. It is always important
            to check the label before purchasing any food item in order to ensure it does not contain any ingredient you are trying to avoid.
        </p>
        <p>
            Switching to vegetarianism may seem daunting, but there are a few simple steps to make the transition easier. If you're not sure you can go cold turkey
            on meat (no pun intended), you can start by eliminating red meat and gradually phase out other meats from there. Much of what you're eating on a day-to-day basis may be vegetarian already -- many pasta dishes and salads are meatless, and serveral common snack foods such as dried fruit, granola bars, cheese sticks, and chips meet the criteria as well. You can also search for vegetarian restuarants in your area, and suggest one next time you go out to eat with friends. Who knows, they may even be convinced to join you in your quest to revamp your diet!
        </p>

    </div>

    <h2 class="ui header">Motivations</h2>
    <div class="ui segment">
        <p>
            There are a variety of good reasons to switch to a vegetarian diet. Some of the most common ones include:
        </p>
        <ul class="ui list">
            <p><li><strong>Ethical</strong></li>
                By being vegetarian, you are not contributing to the slaughter of animals for food. Billions of animals are killed each year to feed the world's population.
            </p>
            <p><li><strong>Practical</strong></li>
                Vegetarianism is associated with many health benefits, including lower cholesterol, lower Body Mass Index (BMI), and lower risk of heart attack. On average, vegetarians consume less saturated fat and cholesterol than meat eaters.
            </p>
            <p><li><strong>Environmental</strong></li>
                Raising animals for food is particularly taxing on the environment. The livestock industry contributes significantly to air and water pollution, land degradation, and climate change.
            </p>
        </ul>
    </div>

    <h2 class="ui header">Resources</h2>
    <div class="ui segment">
        <a href="https://www.vrg.org" title="Information on vegetarian recipes, restaurants, and nutrition" margin="10px">Vegetarian Resource Group</a><br>
        <a href="http://www.choosemyplate.gov/healthy-eating-tips/tips-for-vegetarian.html" title="Nutrition advice for vegetarians" margin="10px">USDA Healthy Eating Tips</a><br>
        <a href="http://www.vegweb.com/" title="Vegetarian recipes" margin="10px">VegWeb</a>
    </div>
</div>
