<!-- ==================================== VEGETARIAN SECTION ==================================== -->
                <div class="ui vegetarian transition visible">
                    <!-- ------------------------------------ SUMMARY ------------------------------------ -->
                    <div  class="ui transition visible summary">
                        <h2 class="ui header">Overview</h2>
                        <div class="ui segment">
                            <p>
                                Vegetarianism refers to a diet devoid of meat, including red meat, poultry, seafood, or the flesh of any other animal. Some vegetarians may also
                                choose to avoid all animal by-products, including some oils and gelatins, which are sometimes used in candies, yogurts, or fried foods. It is always important
                                to check the label before purchasing any food item in order to ensure it does not contain any ingredient you are trying to avoid.
                            </p>
                            <p>
                                Switching to vegetarianism may seem daunting, but there are a few simple steps to make the transition easier. If you're not sure you can go cold turkey
                                on meat (no pun intended), you can start by eliminating red meat and gradually phase out other meats from there. Much of what you're eating on a day-to-day basis may be vegetarian already -- many pasta dishes and salads are meatless, and serveral common snack foods such as dried fruit, granola bars, cheese sticks, and chips meet the criteria as well. You can also search for vegetarian restuarants in your area, and suggest one next time you go out to eat with friends. Who knows, they may even be convinced to join you in your quest to revamp your diet!
                            </p>

                        </div>

                        <h2 class="ui header">Motivations</h2>
                        <div class="ui segment">
                            <p>
                                There are a variety of good reasons to switch to a vegetarian diet. Some of the most common ones include:
                            </p>
                            <ul class="ui list">
                                <p><li><strong>Ethical</strong></li>
                                    By being vegetarian, you are not contributing to the slaughter of animals for food. Billions of animals are killed each year to feed the world's population.
                                </p>
                                <p><li><strong>Practical</strong></li>
                                    Vegetarianism is associated with many health benefits, including lower cholesterol, lower Body Mass Index (BMI), and lower risk of heart attack. On average, vegetarians consume less saturated fat and cholesterol than meat eaters.
                                </p>
                                <p><li><strong>Environmental</strong></li>
                                    Raising animals for food is particularly taxing on the environment. The livestock industry contributes significantly to air and water pollution, land degradation, and climate change.
                                </p>
                            </ul>
                        </div>

                        <h2 class="ui header">Resources</h2>
                        <div class="ui segment">
                            <a href="https://www.vrg.org" title="Information on vegetarian recipes, restaurants, and nutrition" margin="10px">Vegetarian Resource Group</a><br>
                            <a href="http://www.choosemyplate.gov/healthy-eating-tips/tips-for-vegetarian.html" title="Nutrition advice for vegetarians" margin="10px">USDA Healthy Eating Tips</a><br>
                            <a href="http://www.vegweb.com/" title="Vegetarian recipes" margin="10px">VegWeb</a>
                        </div>
                    </div>

                    <!-- ------------------------------------ MEALS ------------------------------------ -->
                    <div class="ui transition hidden meals three column grid">
                        <div class="column">
                            <h1 class="ui header">Breakfast</h1>

                            <img class="rounded ui image" src="/vsafe/img/eggstoastgrapefruit.jpg" width="auto"/>
                            <h3 class="ui header">Hard-boiled Eggs with Toast and Grapefruit</h3>
                            <div class="ui segment">
                                <p>
                                    Toasted wheat bread served with sliced hard-boiled eggs, a good source of protein. Coupled with
                                    grapefruit slices.
                                </p>
                            </div>
                        </div>

                        <div class="column">
                            <h1 class="ui header">Lunch</h1>

                            <img class="rounded ui image" src="/vsafe/img/hummuswrap.jpg" width="auto"/>
                            <h3 class="ui header">Hummus Wrap</h3>
                            <div class="ui segment">
                                <p>
                                    Lettuce, tomatoes, onions, and hummus in a pita wrap. Served with apple slices on the side.
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <h1 class="ui header">Dinner</h1>

                            <img class="rounded ui image" src="/vsafe/img/tofustirfry.jpg" width="auto"/>
                            <h3 class="ui header">Tofu Stir Fry</h3>
                            <div class="ui segment">
                                <p>
                                    Tofu tossed with vegetables. Seasoned with spices and hoisin sauce.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------------ INGREDIENTS ------------------------------------ -->
                    <div class="ui transition hidden ingredients">
                        <h2 class="ui header">Pantry Essentials</h2>
                        <div class="ui basic segment">
                            <p>Here are some basics you should always have stocked:</p>


                            <table class="ui celled table segment">
                                <thead>
                                    <th>Food Group</th>
                                    <th colspan="2">Ingredients</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- ----------------------- GRAINS ----------------------- -->
                                        <td rowspan="3" class>Grains</td>
                                        <td>
                                            <a href="/browse/">
                                                Brown Rice
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/browse/">
                                                Cornmeal
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/browse/">
                                                Quinoa
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/browse/">
                                                Amaranth
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/browse/">
                                                Bulgur Wheat
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/browse/">
                                                Teff
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <!-- ----------------------- FRUITS ----------------------- -->
                                    <tr>
                                        <td rowspan="2">Fruits</td>
                                        <td>
                                            <a href="/browse/">
                                                Apples
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/browse/">
                                                Pears
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/browse/">
                                                Bananas
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/browse/">
                                                Melons
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <!-- ----------------------- VEGETABLES ----------------------- -->
                                    <tr>
                                        <td rowspan="3" class="table-vegetables-cell">Vegetables</td>
                                        <td>
                                            <a href="/browse/">
                                                Potatoes
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/browse/">
                                                Broccoli
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/browse/">
                                                Carrots
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/browse/">
                                                Peppers
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/browse/">
                                                Squash
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/browse/">
                                                Kale
                                                <i class="right arrow icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>


                    <!-- ------------------------------------ NUTRIENTS ------------------------------------ -->
                    <div class="ui transition hidden nutrients">
                        <h1 class="ui header">Daily Nutrition</h1>

                        <div class="ui segment" id="vgtnNutrientsPara">
                            <p>
                                When eating a strictly vegetarian diet, it is important to be conscious of the nutrients you would normally get from meat and incorporate them into your diet through other foods. One of these is <u>protein</u>. To reach your daily quota of protein, you can replace meat-based entrees with beans, tofu, quinoa, seitan, eggs, or tempeh, to name a few. Additionally, to avoid a <u>vitamin B12</u> deficiency, you should try to consume some soy, eggs, and dairy on a regular basis, or take a vitamin B supplement. B vitamins are important in the body's absorption of <u>iron</u>, another nutrient that meat is rich in. Luckily, iron can also be found in dark, leafy greens, legumes, and dried fruits, such as prunes, so you can still get plenty of it while maintaining a vegetarian diet.

                            </p>
                        </div>

                        <table class="ui celled table segment">
                            <thead>
                                <th>Nutrient</th>
                                <th>Purpose</th>
                                <th>Sources</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="5">
                                        Protein
                                    </td>
                                    <td rowspan="5">
                                        <ul class="ui list">
                                            <li>
                                                Builds bone, skin, and cartilage
                                            </li>
                                            <li>
                                                Vitamins, enzymes, hormones
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <a href="/browse/">
                                            Eggs
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/browse/">
                                            Beans
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/browse/">
                                            Tofu
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/browse/">
                                            Tempeh
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/browse/">
                                            Nuts & Seeds
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5">
                                        Iron
                                    </td>
                                    <td rowspan="5">
                                        <ul class="ui list">
                                            <li>
                                                Carries oxygen in blood
                                            </li>
                                            <li>
                                                Prevents anemia
                                            </li>
                                            <li>
                                                Important for women
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <a href="/browse/">
                                            Spinach
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/browse/">
                                            Tofu
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/browse/">
                                            Enriched Cereal
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/browse/">
                                            Broccoli
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/browse/">
                                            Potatoes
                                            <i class="right arrow icon"></i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>