{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include "jsimports.html" %}
    <script src="{% static 'assets/js/tiles.js' %}"></script>

    <script>
        // load specified tiles
        var get_filtered_tiles = function(all_dish,filters_dish,all_ing,filters_ing) {
            var temp;
            var datap = {'dishAll':all_dish,
                        'ingredientAll':all_ing,
                        'dishFilters':filters_dish,
                        'ingredientFilters':filters_ing
                        };

            $.ajax({
                url:'http://aandre.scripts.mit.edu/vsafe/browse/subset/',
                type:'POST',
                async: false,
                dataType:'json',
                contentType:'application/json; charset=utf-8',
                data:JSON.stringify(datap),
                success: function(result){
                  temp = result;
                }
            });
            return temp;
        };

        // filter selection response
        var modifySelection = function (checkbox) {
            var isChecked = $(checkbox).children('input').prop("checked");
            var ingredient_tags = [];
            var dish_tags = [];
            var dish_all = false;
            var ingredient_all = false;

            // Check the selected box
            if (isChecked==undefined || isChecked==false){
                checkState=true;
                $(checkbox).children('input').prop('checked',checkState);
            } else {
                checkState=false;
                $(checkbox).children('input').prop('checked',checkState);
            }

            // If a header is checked, check all of its children
            var labelID = $(checkbox).children('input').prop('id');

            if (labelID == 'checkbox-dish'){
                for (var i=0; i<dishes.length;i++){
                    var input = "#checkbox-"+dishes[i];
                    $(input).prop('checked',checkState);
                }
                dish_all = checkState;
                ingredient_all = $('#checkbox-ingredient').prop("checked");
            } else if (labelID == 'checkbox-ingredient'){
                for (var i=0; i<ingredients.length;i++){
                    var input = "#checkbox-"+ingredients[i];
                    $(input).prop('checked',checkState);
                }
                ingredient_all = checkState;
                dish_all = $('#checkbox-dish').prop("checked");
            }

            // If a child is unchecked, uncheck the header
            // determine checked boxes
            for (var i=0; i<dishes.length;i++){
                if (labelID=="checkbox-"+dishes[i]){
                    $('#checkbox-dish').prop('checked',false);
                    dish_all = false;
                    ingredient_all = $('#checkbox-ingredient').prop("checked");
                }
                if ($("#checkbox-"+dishes[i]).is(":checked")){
                    dish_tags.push(dishes[i]);
                }
            }

            for (var i=0; i<ingredients.length;i++){
                if (labelID=="checkbox-"+ingredients[i]){
                    $('#checkbox-ingredient').prop('checked',false);
                    ingredient_all = false;
                    dish_all = $('#checkbox-dish').prop("checked");
                }

                if ($("#checkbox-"+ingredients[i]).is(":checked")){
                    ingredient_tags.push(ingredients[i]);
                }
            }

            // if all children selected, check header
            if ($('.checkbox-box.dish:checked').length == $('.checkbox-box.dish').length){
                $('#checkbox-dish').prop('checked',true);
                dish_all = true;
                ingredient_all = $('#checkbox-ingredient').prop("checked");
            }

            if ($('.checkbox-box.dish:checked').length == $('.checkbox-box.dish').length){
                $('#checkbox-dish').prop('checked',true);
                dish_all = true;
                ingredient_all = $('#checkbox-ingredient').prop("checked");
            }
            if ($('.checkbox-box.ingredient:checked').length == $('.checkbox-box.ingredient').length){
                $('#checkbox-ingredient').prop('checked',true);
                ingredient_all = true;
                dish_all = $('#checkbox-dish').prop("checked");
            }
            
            // get desired items and populate page
            var filtered_items = get_filtered_tiles(dish_all,dish_tags.join(' '),ingredient_all,ingredient_tags.join(' '));
            // save filter criteria
            localStorage.dish_all = dish_all;
            localStorage.dish_tags = dish_tags.join(' ');
            localStorage.ing_all = ingredient_all;
            localStorage.ing_tags = ingredient_tags.join(' ');
            
            // remove each tile
            $('.result').each(function() {
                this.remove();
            });
            
            // create resulting tiles
            for (var i=0; i<filtered_items.length; i++){
                var item = filtered_items[i];
                createTile(
                    item['identifier'],
                    item['name'],
                    item['image'],
                    item['vt'],
                    item['vg'],
                    [],
                    '#results_window');
            }

            $('.ui.dimmable').dimmer({
                on: 'hover',
                duration: {
                    show : 200,
                    hide : 200
                }
            });

            // fetch tiles previously loaded
            
        };

        // restore browse filters and results
        function restoreState() {
            // load preferences
            dish_all = JSON.parse(localStorage.dish_all);
            dish_tags = localStorage.dish_tags;
            ing_all = JSON.parse(localStorage.ing_all);
            ing_tags = localStorage.ing_tags;

            // fetch tiles previously loaded
            console.log(dish_all, dish_tags, ing_all, ing_tags);
            var filtered_items = get_filtered_tiles(dish_all, dish_tags, ing_all, ing_tags);

            // remove each tile
            $('.result').each(function() {
                this.remove();
            });
            
            // create resulting tiles
            for (var i=0; i<filtered_items.length; i++){
                var item = filtered_items[i];
                createTile(
                    item['identifier'],
                    item['name'],
                    item['image'],
                    item['vt'],
                    item['vg'],
                    [],
                    '#results_window');
            }

            // restore checkboxes
            if (dish_all) {
                // check headings and child filters
                $('#checkbox-dish').prop('checked',true);
                for (var i=0; i<dishes.length;i++){
                    $("#checkbox-"+dishes[i]).prop('checked',true);
                }
            } else {
                // check specified fitlers only
                for (var i=0; i<dishes.length;i++){
                    if (dish_tags.indexOf(dishes[i]) > -1){
                        $("#checkbox-"+dishes[i]).prop('checked',true);
                    }
                }
            }

            if (ing_all) {
                // check headings and child filters
                $('#checkbox-ingredient').prop('checked',true);
                for (var i=0; i<ingredients.length;i++){
                    $("#checkbox-"+ingredients[i]).prop('checked',true);
                }
            } else {
                // check specified fitlers only
                for (var i=0; i<ingredients.length;i++){
                    if (ing_tags.indexOf(ingredients[i]) > -1){
                        $("#checkbox-"+ingredients[i]).prop('checked',true);
                    }
                }
            }
        }
        
        Array.prototype.diff = function(a) {
            return this.filter(function(i) {return a.indexOf(i) < 0;});
        };
        
        var dishes = ['appetizer','entree','dessert','snack'];
        var ingredients = ['fruit','vegetable','grain','protein','dairy','condiment','other'];
        
        $(document).ready(function(){

            $('#button-select').click(function() {
                $('.checkbox-box').prop('checked',true);
                var filtered_items = get_filtered_tiles(true,"",true,"");
                
                // remove each tile
                $('.result').each(function() {
                    this.remove();
                });
                
                // create resulting tiles
                for (var i=0; i<filtered_items.length; i++){
                    var item = filtered_items[i];
                    createTile(item['identifier'], item['name'], item['image'], item['vt'], item['vg'], [], '#results_window');
                }

                $('.ui.dimmable').dimmer({
                    on: 'hover',
                    duration: {
                        show : 200,
                        hide : 200
                    }
                });

                localStorage.dish_all = true;
                localStorage.ing_all = true;

            });

            $('#button-deselect').click(function() {
                $('.checkbox-box').prop('checked',false);

                // remove each tile
                $('.result').each(function() {
                    this.remove();
                });

                localStorage.dish_all = true;
                localStorage.ing_all = true;
                localStorage.dish_tags = "";
                localStorage.ing_tags = "";
            });

            // select all on initial load
            if (localStorage.dish_all == undefined || localStorage.ing_all == undefined) { // inital load
    console.log('here');
                clearState();
            } else if (
                JSON.parse(localStorage.dish_all) == false &&
                JSON.parse(localStorage.ing_all) == false &&
                localStorage.ing_tags == "" &&
                localStorage.dish_tags == ""){ // all unselected
                clearState();
            }

            // restore from last session
            restoreState();

            // checkbox click listener
            $('.checkbox').click(function(){
                modifySelection(this);
            });

            $('.ui.dimmable').dimmer({
                on: 'hover',
                duration: {
                    show : 200,
                    hide : 200
                }
            });

            function updateSize() {
                if ($(window).width() < 751) {
                    $('#browse-filters').removeClass('vertical');
                } else {
                    $('#browse-filters').addClass('vertical');
                }
            }

            updateSize();
            $(window).resize(function() {
                updateSize();
            });

            $("#browse_nav").addClass("active");
        });

    </script>
</head>
<body>
    {% include "navbar.html" %}

    <section class="ui page grid stackable relaxed">
        <div class="row">
            <div class="four wide column">
                <div class="ui button" id="button-select">Select All</div>
                <div class="ui button" id="button-deselect">Deselect All</div>
                <div class="ui vertical menu compact form" id="browse-filters">
                    <div class="header item checkbox dropdown" id="header-checkbox-dish">
                        <i class="food icon green"></i>
                        <input type="checkbox" class="checkbox-box" id="checkbox-dish">
                        <label>Dish</label>
                    </div>
                    <div class="menu">
                        <div class="item checkbox">
                            <input type="checkbox" class="dish checkbox-box" id="checkbox-appetizer">
                            <label>Appetizer</label>
                        </div>
                        <div class="item checkbox">
                            <input type="checkbox" class="dish checkbox-box" id="checkbox-entree">
                            <label>Entree</label>
                        </div>
                        <div class="item checkbox">
                            <input type="checkbox" class="dish checkbox-box" id="checkbox-dessert">
                            <label>Dessert</label>
                        </div>
                        <div class="item checkbox">
                            <input type="checkbox" class="dish checkbox-box" id="checkbox-snack">
                            <label>Snack</label>
                        </div>
                    </div>

                    <div class="header item checkbox" id="header-checkbox-ingredient">
                        <i class="leaf icon green"></i>
                        <input type="checkbox" class="checkbox-box" id="checkbox-ingredient">
                        <label>Ingredient</label>
                    </div>
                    <div class="item checkbox">
                        <input type="checkbox" class="ingredient checkbox-box" id="checkbox-fruit">
                        <label>Fruit</label>
                    </div>
                    <div class="item checkbox">
                        <input type="checkbox" class="ingredient checkbox-box" id="checkbox-vegetable">
                        <label>Vegetable</label>
                    </div>
                    <div class="item checkbox">
                        <input type="checkbox" class="ingredient checkbox-box" id="checkbox-grain">
                        <label>Grain</label>
                    </div>
                    <div class="item checkbox">
                        <input type="checkbox" class="ingredient checkbox-box" id="checkbox-protein">
                        <label>Protein</label>
                    </div>
                    <div class="item checkbox">
                        <input type="checkbox" class="ingredient checkbox-box" id="checkbox-dairy">
                        <label>Dairy</label>
                    </div>
                    <div class="item checkbox">
                        <input type="checkbox" class="ingredient checkbox-box" id="checkbox-condiment">
                        <label>Condiment</label>
                    </div>
                    <div class="item checkbox">
                        <input type="checkbox" class="ingredient checkbox-box" id="checkbox-other">
                        <label>Other</label>
                    </div>
                </div>
            </div>

            <div class="twelve wide column" id="results_window"></div>
        </div>
    </section>
</body>
</html>
