{% extends "jsimports.html"%}

{% block content %}
<body id="index">
    <header class="ui">
        <h1 id="title"><a href="index.html">vSafe</a></h1>

        <nav class="ui menu">
            <a href="/vsafe/" class="item">HOME</a>
            <a href="/vsafe/learn.html" class="item">LEARN</a>
            <a href="/vsafe/browse.html" class="item">BROWSE</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input" id="search-nav">
                        <input type="text" placeholder="Apple, Carrot, etc.">
                        <i class="circular inverted green search link icon"></i>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column center aligned stackable divided grid">
            <div class="column">
                <div class="ui icon input" id="search-home">
                    <input type="text" placeholder="Apple, Carrot, etc." id="search-input">
                    <i class="circular inverted green search link icon"></i>
                </div>
            </div>
        </div>

    </section>
</body>
{% endblock %}
