<!doctype html>

<head>
    {% include "jsimports.html"%}
    <script>
        $(document).ready(function() {
            $("#search-input").focus();
            $("#home_nav").addClass("active");
            $("#search-input").autocomplete({
                source: [{value:"Apple", data:"lookup value"},
                         {value:"Quinoa", data:"lookup value"},
                         {value:"Sriracha", data:"lookup value"},
                         {value:"Tofu", data:"lookup value"},
                         {value:"Vegetable Medly", data:"lookup value"},
                         {value:"Barley", data:"lookup value"},
                         {value:"Basil", data:"lookup value"},
                        ],
                select: function(event, suggestion){
                         console.log(suggestion.item);
                         console.log(suggestion.item.value + "     " + suggestion.item.data);
                        }
            });
        });
    </script>
</head>

<body id="index">
    {% include "navbar.html"%}
    <section class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column center aligned stackable divided grid">
            <div class="column">
                <div class="ui icon input" id="search-home">
                    <input type="text" placeholder="Apple, Carrot, etc." id="search-input">
                    <i class="circular inverted green search link icon"></i>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {
            var searchInput = $("#search-input");
            var resources = 
                        [{value:"Apple", data:"lookup value"},
                         {value:"Quinoa", data:"lookup value"},
                         {value:"Sriracha", data:"lookup value"},
                         {value:"Tofu", data:"lookup value"},
                         {value:"Vegetable Medly", data:"lookup value"},
                         {value:"Barley", data:"lookup value"},
                         {value:"Basil", data:"lookup value"},
                        ]
            searchInput.autocomplete({
                source: function( request, response ) {
                        var matcher = new RegExp($.trim(request.term).replace(/[-[\]{}()*+?.,\\^$|#\s]/g, "\\$&"), "i" );
                        response($.grep(resources, function(value) {
                            return matcher.test( value.label || value.value || value );
                        }));
                         },
                select: function(event, suggestion){
                         console.log(suggestion.item);
                         console.log(suggestion.item.value + "     " + suggestion.item.data);
                        }
            });

            searchInput.keypress(function (e) {
                if(e.which == 13) {
                    var search = searchInput.val().toLowerCase().replace(/\s+/g,"");
                    var suggestion = $("#ui-id-2 li:first-child a").text().toLowerCase().replace(/\s+/g,"");
                    console.log(search);
                    console.log(suggestion);
                    console.log(search == suggestion);
                    if (search == suggestion) {
                        var keyEvent = $.Event("keydown");  
                        keyEvent.keyCode = $.ui.keyCode.DOWN;
                        searchInput.trigger(keyEvent);
                        keyEvent.keyCode = $.ui.keyCode.ENTER;
                        searchInput.trigger(keyEvent);
                    }
                }
            });
        });
    </script>
</body>
