{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include "jsimports.html" %}
    <script src="{% static 'assets/js/pie.js' %}"></script>
    <script src="{% static 'assets/js/tiles.js' %}"></script>
    <script>
        
        // ITEM PARAMETERS
        /*
            'item_name' and keys of 'map_tiles' must correspond
            to existing items in < tiles.js >.
            
            Title, image, tags, vt/vg will be populated automatically.
        */
        var nutrients = {"protein":     {{ingred.protein}},
                         "iron":        {{ingred.iron}},
                         "calcium":     {{ingred.calcium}},
                         "fiber":       {{ingred.fiber}},
                         "carbs":       {{ingred.carbs}},
                         "fats":        {{ingred.fats}}
                        };
        
        $(document).ready(function(){
            
            var percents = $.map(nutrients, function(val, key) {return val;});
            var nutrition = Object.keys(nutrients);

            for (var i=0;i<percents.length;i++){
                var fill = percents[i];
                if (fill > 100)
                    fill = 100;
                var chart = createPie("Protein", "30px", "#ddd", 1, [fill], ["#88b653"]);
                var percent = percents[i] + "%";
                var chartTag = "#chart-"+nutrition[i];
                var percentTag = "#percent-"+nutrition[i];
                $(chartTag).append(chart);
                $(percentTag).append(percent);
            }
            
            // color vt/vg
            if ({{ingred.isVegetarian|lower}}){
                $('#label_vt').addClass('green');
            } else {
                $('#label_vt').addClass('red');
            }
            
            if ({{ingred.isVegan|lower}}){
                $('#label_vg').addClass('green');
            } else {
                $('#label_vg').addClass('red');
            }

            // populate specifics
            $('#item_name').html('{{ingred.name}}');
            var item_img_url = 'url(' + '/vsafe/img/{{ingred.image}}' + ')'
            $('#item_img').css('background-image', item_img_url);

            // populate dishes section
            {% if dishes %}
                {% for dish in dishes %}
                    createTile('D' + '{{dish.id}}', '{{dish.name}}', '{{dish.image}}', {{dish.isVegetarian|lower}}, {{dish.isVegan|lower}}, [], $('.tiles.dishes'));
                {% endfor %}
            {% else %}
                $(".dishes").each(function() {
                    this.remove();
                });
            {% endif %}
            
            
            {% if ingred.substitutes.all %}
                {% for ing in ingred.substitutes.all %}
                    createTile('I' + '{{ing.id}}', '{{ing.name}}', '{{ing.image}}', {{ing.isVegetarian|lower}}, {{ing.isVegan|lower}}, [], $('.tiles.substitutes'));
                {% endfor %}
            {% else %}
                $(".substitutes").each(function() {
                    this.remove();
                });
            {% endif %}

            $('.ui.dimmable')
            .dimmer({
                on: 'hover',
                duration: {
                    show : 200,
                    hide : 200
                }
            });

            $("#browse_nav").addClass("active");
        });
        
    
</script>
</head>
<body>
    {% include "navbar.html" %}

    <section class="ui page grid stackable relaxed">
        <div class="row">
            <div class="six wide column">
                <a href="/vsafe/browse/" class="ui button hover back">
                  Return to Results
                </a>
                <div class="column center aligned" id="food-display">
                    <div class="food-img" id='item_img'></div>
                    <h1 id='item_name'></h1>
                    <div class="ui label" id="label_vt">
                        Vegetarian
                    </div>
                    <div class="ui label" id="label_vg">
                        Vegan
                    </div>
                    <table class="ui table segment">
                        <tbody>
                            <tr>
                                <td>Protein</td>
                                <td id="chart-protein"></td>
                                <td id="percent-protein"></td>
                            </tr>
                            <tr>
                                <td>Iron</td>
                                <td id="chart-iron"></td>
                                <td id="percent-iron"></td>
                            </tr>
                            <tr>
                                <td>Calcium</td>
                                <td id="chart-calcium"></td>
                                <td id="percent-calcium"></td>
                            </tr>
                            <tr>
                                <td>Fiber</td>
                                <td id="chart-fiber"></td>
                                <td id="percent-fiber"></td>
                            </tr>
                            <tr>
                                <td>Carbs</td>
                                <td id="chart-carbs"></td>
                                <td id="percent-carbs"></td>
                            </tr>
                            <tr>
                                <td>Fats</td>
                                <td id="chart-fats"></td>
                                <td id="percent-fats"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="ten wide column">
            <h2 class="food-title dishes">Dishes</h2>
                <div class="tiles dishes"></div>
            <h2 class="food-title substitutes">Substitute Ingredients</h2>
                <div class="tiles substitutes"></div>


                </div>
            </div>
        </div>

    </section>

</body>

</html>
