{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vSafe</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/semantic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css" %}">

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="{% static "assets/js/semantic.js" %}"></script>
    <script src="{% static "assets/js/jquery-ui-1.10.4.js" %}"></script>
    {% block javascript %}
    {% endblock %}
</head>
{% block content %}
{% endblock %}
</html>
