<script>
    $(document).ready(function(){
// whether or not we are on the vegetarian section
var vegetarian = true;
// buttons
var vegetarianButton = $("#vegetarianButton");
var veganButton = $("#veganButton");
// tabs
var summaryTab = $("#summaryTab");
var mealsTab = $("#mealsTab");
var ingredientsTab = $("#ingredientsTab");
var nutrientsTab = $("#nutrientsTab");
var currentTab = $("#summaryTab");
// content
var vegetarianContent = $(".vegetarian");
var veganContent = $(".vegan");
var currentDietContent = $(".vegetarian");
var vgSummaryContent = $(".vegetarian .summary");
var vgMealsContent = $(".vegetarian .meals");
var vgIngredientsContent = $(".vegetarian .ingredients");
var vgNutrientsContent = $(".vegetarian .nutrients");
var currentContent = $(".vegetarian .summary");

var vnSummaryContent = $(".vegan .summary");
var vnMealsContent = $(".vegan .meals");
var vnIngredientsContent = $(".vegan .ingredients");
var vnNutrientsContent = $(".vegan .nutrients");

var clickable = true;

veganButton.click(function(){
    if (clickable && vegetarian) {
        clickable = false;
        vegetarianButton.removeClass("green");
        veganButton.addClass("green");
        vegetarian = false;

        vegetarianContent.transition("horizontal flip", "200ms", function(){
            currentContent.removeClass("visible");
            currentContent.addClass("hidden");
            if (currentTab == summaryTab) {
                vnSummaryContent.removeClass("hidden");
                vnSummaryContent.addClass("visible");
                currentContent = vnSummaryContent;
            } else if (currentTab == mealsTab) {
                vnMealsContent.removeClass("hidden");
                vnMealsContent.addClass("visible");
                currentContent = vnMealsContent;
            } else if (currentTab == ingredientsTab) {
                vnIngredientsContent.removeClass("hidden");
                vnIngredientsContent.addClass("visible");
                currentContent = vnIngredientsContent;
            } else{
                vnNutrientsContent.removeClass("hidden");
                vnNutrientsContent.addClass("visible");
                currentContent = vnNutrientsContent;
            }
            veganContent.transition("horizontal flip", "200ms", function(){
                clickable = true;
            });
        });

currentDietContent = veganContent
}
});

vegetarianButton.click(function(){
    if (clickable && !vegetarian) {
        clickable = false;
        veganButton.removeClass("green");
        vegetarianButton.addClass("green");
        vegetarian = true;

        veganContent.transition("horizontal flip", "200ms", function(){
            currentContent.removeClass("visible");
            currentContent.addClass("hidden");
            if (currentTab == summaryTab) {
                vgSummaryContent.removeClass("hidden");
                vgSummaryContent.addClass("visible");
                currentContent = vgSummaryContent;
            } else if (currentTab == mealsTab) {
                vgMealsContent.removeClass("hidden");
                vgMealsContent.addClass("visible");
                currentContent = vgMealsContent;
            } else if (currentTab == ingredientsTab) {
                vgIngredientsContent.removeClass("hidden");
                vgIngredientsContent.addClass("visible");
                currentContent = vgIngredientsContent;
            } else{
                vgNutrientsContent.removeClass("hidden");
                vgNutrientsContent.addClass("visible");
                currentContent = vgNutrientsContent;
            }
            vegetarianContent.transition("horizontal flip", "200ms", function(){
                clickable = true;
            });
        });

currentDietContent = vegetarianContent;
}
});

summaryTab.click(function(){
    console.log(currentContent);
    console.log(currentContent == veganContent);
    var summaryContent;
    if (currentDietContent == veganContent) {
        summaryContent = vnSummaryContent;
    } else {
        summaryContent = vgSummaryContent;
    }
    if (clickable && currentTab != summaryTab) {
        clickable = false;
        currentTab.removeClass("active");
        summaryTab.addClass("active");

        currentContent.transition("fade down", "200ms", function(){
            currentContent.addClass("hidden");
            summaryContent.transition("fade down", "200ms", function(){
                clickable = true;
            });
        });

        currentTab = summaryTab;
        currentContent = summaryContent;
    }
});

mealsTab.click(function(){
    var mealsContent;
    if (currentDietContent == veganContent) {
        mealsContent = vnMealsContent;
    } else {
        mealsContent = vgMealsContent;
    }
    if (clickable && currentTab != mealsTab) {
        clickable = false;
        currentTab.removeClass("active");
        mealsTab.addClass("active");

        currentContent.transition("fade down", "200ms", function(){
            currentContent.addClass("hidden");
            mealsContent.transition("fade down", "200ms", function(){
                clickable = true;
            });
        });

        currentTab = mealsTab;
        currentContent = mealsContent;
    }
});

ingredientsTab.click(function(){
    var ingredientsContent;
    if (currentDietContent == veganContent) {
        ingredientsContent = vnIngredientsContent;
    } else {
        ingredientsContent = vgIngredientsContent;
    }
    if (clickable && currentTab != ingredientsTab) {
        clickable = false;
        currentTab.removeClass("active");
        ingredientsTab.addClass("active");

        currentContent.transition("fade down", "200ms", function(){
            currentContent.addClass("hidden");
            ingredientsContent.transition("fade down", "200ms", function(){
                clickable = true;
            });
        });

        currentTab = ingredientsTab;
        currentContent = ingredientsContent;
    }
});

nutrientsTab.click(function(){
    var nutrientsContent;
    if (currentDietContent == veganContent) {
        nutrientsContent = vnNutrientsContent;
    } else {
        nutrientsContent = vgNutrientsContent;
    }
    if (clickable && currentTab != nutrientsTab) {
        clickable = false;
        currentTab.removeClass("active");
        nutrientsTab.addClass("active");

        currentContent.transition("fade down", "200ms", function(){
            currentContent.addClass("hidden");
            nutrientsContent.transition("fade down", "200ms", function(){
                clickable = true;
            });
        });

        currentTab = nutrientsTab;
        currentContent = nutrientsContent;
    }
});

$("#learn_nav").addClass("active");
});
</script>