<!doctype html>
<html lang="en">
<head>
    {% include "jsimports.html"%}
    {% include "learn_logic.html"%}
</head>
<body>
    {% include "navbar.html" %}
    <section>
        <div class="ui page grid overview section">
            <div class="sixteen wide column">
                <div class="ui icon buttons">
                    <div class="ui green button" id="vegetarianButton">Vegetarian</div>
                    <div class="or"/>
                    <div class="ui button" id="veganButton">Vegan</div>
                </div>
            </div>

            <div class="ui secondary green pointing menu">
                <a class="active item" id="summaryTab">
                    Summary
                </a>
                <a class="item" id="mealsTab">
                    Sample Meals
                </a>
                <a class="item" id="ingredientsTab">
                    Basic Ingredients
                </a>
                <a class="item" id="nutrientsTab">
                    Nutrients
                </a>
            </div>

            <div class="ui content sixteen wide column">
                {% include "vegetarian/vegetarian.html" %}
                {% include "vegan/vegan.html" %}
            </div>
        </div>
    </section>
</body>
</html>