<header class="ui">
    <h1 id="title"><a href="/vsafe/">vSafe</a></h1>
    <script>
        $(document).ready(function(){
            // creates the jquery autocomplete
            $("#nav-input").autocomplete({
                // sets to autofocus to the completed word
                autoFocus: true,
                // sets the min length to start searching the list
                minLength: 2,
                // sets the list of words to search to the keys
                source: [1111,1112,1113,1114],
                // function called when something is selected from autcomplete
                select: function (event, ui) {
                    
                }
            });
        });
    </script>
    <nav class="ui green menu">
        <a href="/vsafe/" class="item" id="home_nav">HOME</a>
        <a href="/vsafe/learn/" class="item" id="learn_nav">LEARN</a>
        <a href="/vsafe/browse/" class="item" id="browse_nav">BROWSE</a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input" id="search-nav">
                    <input type="text" id="nav-input" placeholder="Apple, Carrot, etc.">
                    <i class="circular inverted green search link icon"></i>
                </div>
            </div>
        </div>
    </nav>
</header>